.que
{
    margin-top: 30px;
    animation-name: que;
    animation-duration: 2s;
    animation-direction: alternate;
    color: rgb(243, 242, 174);
}
  
.que.rainbow .text 
{
    background: red; 
    background: -webkit-linear-gradient(left, #b306a9, #ef2667, #f42e2c,  #f42e2c, #2a7e07, #2a7e07, #0b13fd, #a804af);
    background: -o-linear-gradient(left, #b306a9, #ef2667, #f42e2c,  #f42e2c, #2a7e07, #2a7e07, #0b13fd, #a804af);
    background: -moz-linear-gradient(left, #b306a9, #ef2667, #f42e2c,  #f42e2c,#2a7e07, #2a7e07, #0b13fd, #a804af);
    background: linear-gradient(to right, #b306a9, #ef2667, #f42e2c,  #f42e2c,#2a7e07, #2a7e07, #0b13fd, #a804af); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes que
{
    0% {opacity: 0; transform: translateX(-100px);}
    25% {opacity: 0.3; transform: translateX(-50);}
    50% {opacity: 0.5; transform: translateX(50px);}
    100% {opacity: 1; transform: translate(0);}
}

