.que
{
    margin-top: 30px;
    animation-name: que;
    animation-duration: 2s;
    animation-direction: alternate;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(243, 242, 174);
}

@keyframes que
{
    0% {opacity: 0; transform: translateX(-100px);}
    25% {opacity: 0.3; transform: translateX(-50);}
    50% {opacity: 0.5; transform: translateX(50px);}
    100% {opacity: 1; transform: translate(0);}
}

